In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
from src import sp_limpieza as sp

In [2]:
df = pd.read_csv('../data/data_transformacion_limpieza.csv')

In [3]:
sp.eda_preliminar(df)

,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date,total($)
73694,73695,NexGen Systems,Influencer,Women 25-34,45 days,Email,"0,01","$9,842.00",77.4242,Miami,Spanish,"212,0",80378037.00,11.00,Outdoor Adventurers,2021-11-26,"$9,842.00"
627,628,NexGen Systems,Social Media,Men 18-24,60 days,NaN,00.0505,"$15,691.00","7,06",Miami,French,"238,0","3959,0","1,0",Tech Enthusiasts,2021-09-20,"$15,691.00"
25668,25669,DataTech Solutions,Email,Women 35-44,45 days,Google Ads,00.0808,"$16,844.00","4,43",Miami,German,"409,0",40584058.00,44.00,Outdoor Adventurers,2021-04-29,"$16,844.00"
80248,80249,NexGen Systems,Social Media,Men 18-24,30 days,YouTube,00.0707,"$11,373.00","5,4",Los Angeles,English,261261.00,"2444,0",77.00,Tech Enthusiasts,2021-11-10,"$11,373.00"
158780,158781,NaN,Social Media,Men 18-24,15 days,Email,NaN,"$17,377.00",77.3434,Houston,Spanish,NaN,NaN,"5,0",NaN,2021-01-06,"$17,377.00"

-------------------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209915 entries, 0 to 209914
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   campaign_id       209915 non-null  int64
 1   company           194734 non-null  object
 2   campaign_type     191535 non-null  object
 3   target_audience   181301 non-null  object
 4   duration          191309 non-null  object
 5   channel_used      187421 non-null  object
 6   conversion_rate   200471 non-null  object
 7   acquisition_cost  201832 non-null  object
 8   roi               173439 non-null  object
 9   location          184543 non-null  object
 10  language          182907 non-null  object
 11  clicks            178736 non-null  object
 12  impressions       188467 non-null  object
 13  engagement_score  186051 non-null  object
 14  customer_segment  196763 non-null  object
 15  date              203007 non-null  object
 16  total($)          201832 non-null  object
dtypes: int64(1), object(16)
memory usage: 27.2+ MB

None

-------------------
NULOS

campaign_id          0.00
company              7.23
campaign_type        8.76
target_audience     13.63
duration             8.86
channel_used        10.72
conversion_rate      4.50
acquisition_cost     3.85
roi                 17.38
location            12.09
language            12.87
clicks              14.85
impressions         10.22
engagement_score    11.37
customer_segment     6.27
date                 3.29
total($)             3.85
dtype: float64

-------------------
DUPLICADOS
17
-------------------
VALUE COUNTS
campaign_id
29825     2
55496     2
89537     2
199972    2
26174     2
         ..
12        1
13        1
14        1
15        1
16        1
Name: count, Length: 200000, dtype: int64
-------------------
company
TechCorp               39210
Alpha Innovations      39090
DataTech Solutions     38889
NexGen Systems         38879
Innovate Industries    38666
Name: count, dtype: int64
-------------------
campaign_type
Influencer      38430
Search          38319
Email           38292
Social Media    38280
Display         38214
Name: count, dtype: int64
-------------------
target_audience
Men 18-24      36633
Women 25-34    36349
All Ages       36243
Men 25-34      36170
Women 35-44    35906
Name: count, dtype: int64
-------------------
duration
30 days    48123
45 days    47906
60 days    47691
15 days    47589
Name: count, dtype: int64
-------------------
channel_used
Email         31461
Instagram     31428
Google Ads    31299
YouTube       31297
Website       31149
Facebook      30787
Name: count, dtype: int64
-------------------
conversion_rate
00.1313    7383
0,11       7315
00.11      7266
0,03       7262
0,1        7235
00.0606    7227
00.0202    7226
0,04       7225
0,02       7200
00.0909    7183
0,06       7183
0,13       7173
00.1212    7169
0,12       7167
00.0404    7158
00.1111    7157
0,09       7157
0,08       7132
00.0808    7126
0,05       7118
00.1414    7089
0,07       7058
00.0505    7038
0,14       7027
00.0707    7003
00.0303    6992
0,15       3619
00.1515    3549
00.0101    3519
0,01       3515
Name: count, dtype: int64
-------------------
acquisition_cost
$16,578.00    33
$6,570.00     30
$8,503.00     30
$9,128.00     29
$11,240.00    29
              ..
$16,589.00     3
$13,523.00     3
$9,623.00      2
$14,068.00     2
$18,117.00     2
Name: count, Length: 15001, dtype: int64
-------------------
roi
6,05       189
7,43       186
77.4343    183
44.2222    182
5,95       181
          ...
3,93       105
22.00       76
88.00       74
8,0         72
2,0         62
Name: count, Length: 1202, dtype: int64
-------------------
location
Miami          37240
Chicago        36972
Los Angeles    36897
New York       36779
Houston        36655
Name: count, dtype: int64
-------------------
language
Mandarin    36841
Spanish     36747
German      36571
English     36424
French      36324
Name: count, dtype: int64
-------------------
clicks
319,0        134
483,0        134
297,0        131
646,0        130
805805.00    129
            ...
603603.00     73
287,0         73
277277.00     72
553,0         71
894894.00     71
Name: count, Length: 1802, dtype: int64
-------------------
impressions
42894289.00    25
9798,0         25
24032403.00    25
67076707.00    25
8037,0         25
               ..
6834,0          1
5522,0          1
91009100.00     1
3104,0          1
6325,0          1
Name: count, Length: 18002, dtype: int64
-------------------
engagement_score
5,0        9453
99.00      9436
22.00      9382
3,0        9381
2,0        9360
4,0        9348
44.00      9314
10,0       9309
9,0        9298
1,0        9291
1010.00    9284
66.00      9282
77.00      9282
88.00      9268
8,0        9256
7,0        9250
55.00      9224
33.00      9221
6,0        9219
11.00      9193
Name: count, dtype: int64
-------------------
customer_segment
Foodies                39571
Tech Enthusiasts       39518
Outdoor Adventurers    39324
Health & Wellness      39212
Fashionistas           39138
Name: count, dtype: int64
-------------------
date
2021-09-10    579
2021-09-03    575
2021-08-18    572
2021-04-16    571
2021-05-07    571
             ...
2021-03-21    542
2021-01-07    542
2021-01-05    542
2021-05-01    541
2021-05-31    539
Name: count, Length: 365, dtype: int64
-------------------
total($)
$16,578.00    33
$6,570.00     30
$8,503.00     30
$9,128.00     29
$11,240.00    29
              ..
$16,589.00     3
$13,523.00     3
$9,623.00      2
$14,068.00     2
$18,117.00     2
Name: count, Length: 15001, dtype: int64
-------------------

In [4]:
sp.valores_minusculas(df) # Cambia los valores de las columnas a minúsculas

In [5]:
df['duration'][0].split()[0] # Se observa que la columna 'duration' tiene valores con formato de tiempo

'30'

In [6]:
df['duration'] = df['duration'].apply(lambda x: x.split()[0] if isinstance(x,str) else x) # Elimina los valores de la columna duration que no sean numéricos

In [7]:
dolar = ['acquisition_cost','total($)'] # Columnas a las que se les quitará el signo de dolar
sp.dolares (df, dolar)

In [8]:
df['acquisition_cost'].equals(df['total($)']) # Se verifica que las columnas sean iguales
df.drop('acquisition_cost', axis=1, inplace=True) # Se elimina la columna acquisition_cost ya que es igual a total($)

In [9]:
coma = ['conversion_rate', 'roi', 'clicks', 'impressions', 'engagement_score'] # Columnas a las que se les quitará la coma
sp.comas(df, coma)

In [10]:
df[['genre', 'ages']] = df['target_audience'].str.split(' ', expand=True) # Se separa la columna target_audience en dos columnas

In [11]:
df['genre'] = df['genre'].apply(lambda x: np.nan if x == 'all' else x)  # Se cambia el valor 'all' por NaN
df['ages'] = df['ages'].apply(lambda x: 'all ages' if x == 'ages' else x)  # Se cambia el valor 'ages' por 'all ages'
df.drop('target_audience', axis=1, inplace=True) # Se elimina la columna target_audience

In [11]:
sp.convertir_columnas(df, '%Y-%m-%d') # Se convierten las columnas a su tipo de dato correspondiente

In [12]:
df['year'] = df['date'].dt.year # Se crea una columna con el año
df['month'] = df['date'].dt.month # Se crea una columna con el mes
df['day_name'] = df['date'].dt.day_name() # Se crea una columna con el día
df['quarter'] = df['date'].dt.quarter # Se crea una columna con el trimestre

In [13]:
sp.valores_minusculas(df) # Se verifica que los valores de las columnas estén en minúsculas

In [14]:
sp.quitar_espacios(df) # Se quitan los espacios en blanco de las columnas

In [15]:
df.to_csv('../data/data_limpios.csv', index=False) # Se guarda el archivo con las transformaciones realizadas